doctype html
html
  head
    title &#x6CE8;&#x518C;-&#x9759;&#x4E60;&#x82D1;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='keywords', content='Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, \
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design')
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet', type='text/css')
    // Custom CSS
    link(href='css/other.css', rel='stylesheet', type='text/css')
    link(href='css/font-awesome.min.css', rel='stylesheet')
    // jQuery
    script(src='js/jquery-2.2.1.min.js')
    // --webfonts-
    link(href='http://fonts.useso.com/css?family=Roboto:400,100,300,500,700,900', rel='stylesheet', type='text/css')
    // -//webfonts-
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')
    style(type='text/css').
      .form-control1{
      height: 100%;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      }
      label{
      color:#fff;
      }
      input{
      color:#fff !important;
      }
  body#login
    .login-logo
      h2 &#x6B22;&#x8FCE;&#x6CE8;&#x518C;&#x81EA;&#x4E60;&#x5BA4;
    | &#x9;
    h2.form-heading &#x6CE8;&#x518C;&#x4EAB;&#x53D7;&#x66F4;&#x591A;&#x670D;&#x52A1;
    | &#x9;
    form.form-signin.app-cam(action='./register',method="post")
      p(style='color:#fff')
        | &#x8F93;&#x5165;&#x4F60;&#x7684;&#x4FE1;&#x606F;(
        b &#x5FC5;&#x987B;
        | )&#xFF1A;
      | &#x9;&#x9;&#x9;
      input#realName.form-control1(type='text', name='realName', placeholder='您的姓名...', autofocus='true', autocomplete='off')
      | &#x9;&#x9;&#x9;
      input#userID.form-control1(type='text', name='userID', placeholder='学生号...', autocomplete='off')
      | &#x9;&#x9;&#x9;
      input#college.form-control1(type='text', name='college', placeholder='你的学院...', autocomplete='off')
      | &#x9;&#x9;&#x9;
      input#profession.form-control1(type='text', name=' profession', placeholder='你的专业...', autocomplete='off')
      | &#x9;&#x9;&#x9;
      input#grade.form-control1(type='text', name='grade', placeholder='你的年级...', autocomplete='off')
      | &#x9;&#x9;&#x9;
      .radios
        label.label_radio(for='radio-01', style='color: rgb(194, 186, 186);')
          input(type='radio', name='gender', value='1', checked='true')
          |  &#x7537;
        | &#x9;&#x9;&#x9;&#x9;
        label.label_radio(for='radio-02', style='color: rgb(194, 186, 186);')
          input(type='radio', name='gender', value='0')
          |  &#x5973;
      | &#x9;&#x9;
      p(style='color:#fff') &#x8F93;&#x5165;&#x7684;&#x5176;&#x5B83;&#x4FE1;&#x606F;&#xFF1A;
      | &#x9;&#x9;&#x9;
      input#email.form-control1(type='text', name='email', placeholder='您的邮箱...', autocomplete='off')
      | &#x9;&#x9;&#x9;
      input#password.form-control1(type='password', name='password', placeholder='请输入您的密码...', autocomplete='off')
      | &#x9;&#x9;&#x9;
      input#re-password.form-control1(type='password', name='re-password', placeholder='重复密码...', autocomplete='off')
      | &#x9;&#x9;&#x9;
      label.checkbox-custom.check-success
        input#checkbox1(type='checkbox', value='我同意使用此服务和隐私条例', autocomplete='off')
        |  
        label(for='checkbox1', style='color: #000;') &#x6211;&#x540C;&#x610F;&#x4F7F;&#x7528;&#x6B64;&#x670D;&#x52A1;&#x548C;&#x9690;&#x79C1;&#x6761;&#x4F8B;
      | &#x9;&#x9;&#x9;
      button.btn.btn-lg.btn-success1.btn-block(type='submit') &#x63D0;&#x4EA4;&#x6CE8;&#x518C;
      | &#x9;&#x9;&#x9;
      .registration(style='color: rgb(194, 186, 186);')
        | &#x5DF2;&#x7ECF;&#x6CE8;&#x518C;.
        a(href='./login')
          | &#x767B;&#x9646;
    | &#x9; 
    .copy_layout.login.register
      .container
        p(style='color:#fff;')
          | &#x9759;&#x4E60;&#x82D1; &#x63D0;&#x4F9B;&#x7684;&#x5185;&#x5BB9;&#x4EC5;&#x7528;&#x4E8E;&#x6D4B;&#x8BD5;&#x3002;&#x6211;&#x4EEC;&#x4E0D;&#x4FDD;&#x8BC1;&#x5185;&#x5BB9;&#x7684;&#x6B63;&#x786E;&#x6027;&#x3002;&#x901A;&#x8FC7;&#x4F7F;&#x7528;&#x672C;&#x7AD9;&#x5185;&#x5BB9;&#x968F;&#x4E4B;&#x800C;&#x6765;&#x7684;&#x98CE;&#x9669;&#x4E0E;&#x672C;&#x7AD9;&#x65E0;&#x5173;&#x3002;&#x4E14;&#x6240;&#x6709;&#x5185;&#x5BB9;&#x4EC5;&#x4F9B;&#x6D4B;&#x8BD5;&#xFF0C;&#x5BF9;&#x4EFB;&#x4F55;&#x6CD5;&#x5F8B;&#x95EE;&#x9898;&#x53CA;&#x98CE;&#x9669;&#x4E0D;&#x627F;&#x62C5;&#x4EFB;&#x4F55;&#x8D23;&#x4EFB;&#x3002;&#x5F53;&#x4F7F;&#x7528;&#x672C;&#x7AD9;&#x65F6;&#xFF0C;&#x4EE3;&#x8868;&#x60A8;&#x5DF2;&#x63A5;&#x53D7;&#x4E86;&#x672C;&#x7AD9;&#x7684;&#x4F7F;&#x7528;&#x6761;&#x6B3E;&#x548C;&#x9690;&#x79C1;&#x6761;&#x6B3E;&#x3002;&#x7248;&#x6743;&#x6240;&#x6709;&#xFF0C;&#x4FDD;&#x7559;&#x4E00;&#x5207;&#x6743;&#x5229;&#x3002;
